openapi: 3.2.0
info:
  title: MindMaze Therapeutics Content Discovery API
  version: wp/v2
  summary: The public, read-only WordPress REST API behind mindmazetherapeutics.com.
  description: MindMaze Therapeutics publishes no developer portal and no product API for its neurotherapeutics platform, but its corporate site at mindmazetherapeutics.com runs on WordPress and serves the standard WordPress REST API anonymously at https://mindmazetherapeutics.com/wp-json/.
  contact:
    name: MindMaze Therapeutics
    url: https://mindmazetherapeutics.com/about/contact/
  termsOfService: https://mindmazetherapeutics.com/terms-and-conditions/
  x-provenance:
    method: derived
    source: https://mindmazetherapeutics.com/wp-json/
    derived: '2026-08-01'
    note: Derived by API Evangelist from the live WordPress route discovery document; not published by MindMaze Therapeutics.
servers:
- url: https://mindmazetherapeutics.com/wp-json
  description: Production
security:
- {}
tags:
- name: Discovery
  description: 'Self-describing metadata: the API index, registered content types, taxonomies and post statuses.'
paths:
  /:
    get:
      operationId: getApiIndex
      summary: Get the API index
      description: The WordPress REST API discovery document - site name, description, URL, the registered namespaces and every registered route with its methods, arguments and argument schemas. This is the self-describing root this OpenAPI was derived from.
      tags:
      - Discovery
      security:
      - {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'
  /wp/v2:
    get:
      operationId: getNamespaceIndex
      summary: Get the wp/v2 namespace index
      description: The route index scoped to the wp/v2 namespace.
      tags:
      - Discovery
      security:
      - {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List taxonomies
      description: The registered taxonomies and the content types each applies to.
      tags:
      - Discovery
      security:
      - {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Taxonomy'
              examples:
                taxonomies:
                  summary: Registered taxonomies
                  externalValue: ../examples/mindmaze-taxonomies.json
  /wp/v2/types:
    get:
      operationId: listContentTypes
      summary: List content types
      description: The registered content types and their REST base paths. MindMaze registers no custom public post type - the corpus is core posts, pages and media.
      tags:
      - Discovery
      security:
      - {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/ContentType'
              examples:
                types:
                  summary: Registered content types
                  externalValue: ../examples/mindmaze-content-types.json
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List post statuses
      description: The publicly queryable post statuses.
      tags:
      - Discovery
      security:
      - {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
components:
  schemas:
    ContentType:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        rest_base:
          type: string
        rest_namespace:
          type: string
        taxonomies:
          type: array
          items:
            type: string
    ApiIndex:
      type: object
      description: The WordPress REST API discovery document.
      properties:
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        home:
          type: string
          format: uri
        namespaces:
          type: array
          items:
            type: string
        authentication:
          type: object
        routes:
          type: object
    Taxonomy:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        rest_base:
          type: string
        hierarchical:
          type: boolean
        types:
          type: array
          items:
            type: string
