openapi: 3.2.0
info:
  title: MindMaze Therapeutics Content Search API
  version: wp/v2
  summary: The public, read-only WordPress REST API behind mindmazetherapeutics.com.
  description: MindMaze Therapeutics publishes no developer portal and no product API for its neurotherapeutics platform, but its corporate site at mindmazetherapeutics.com runs on WordPress and serves the standard WordPress REST API anonymously at https://mindmazetherapeutics.com/wp-json/.
  contact:
    name: MindMaze Therapeutics
    url: https://mindmazetherapeutics.com/about/contact/
  termsOfService: https://mindmazetherapeutics.com/terms-and-conditions/
  x-provenance:
    method: derived
    source: https://mindmazetherapeutics.com/wp-json/
    derived: '2026-08-01'
    note: Derived by API Evangelist from the live WordPress route discovery document; not published by MindMaze Therapeutics.
servers:
- url: https://mindmazetherapeutics.com/wp-json
  description: Production
security:
- {}
tags:
- name: Search
  description: Cross-content-type search over published mindmazetherapeutics.com content.
paths:
  /wp/v2/search:
    get:
      operationId: searchContent
      summary: Search site content
      description: Cross-content-type search over published mindmazetherapeutics.com content, returning id, title, url, type and subtype for each hit.
      tags:
      - Search
      security:
      - {}
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - name: search
        in: query
        required: true
        description: The search term.
        schema:
          type: string
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
              examples:
                search:
                  summary: Search results for "stroke"
                  externalValue: ../examples/mindmaze-search.json
        '400':
          $ref: '#/components/responses/InvalidParam'
components:
  parameters:
    perPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        default: 1
        minimum: 1
  headers:
    XWPTotalPages:
      description: Total number of pages available.
      schema:
        type: integer
    XWPTotal:
      description: Total number of matching records.
      schema:
        type: integer
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages, on rest_invalid_param.
            details:
              type: object
              description: Per-parameter structured error detail, on rest_invalid_param.
      required:
      - code
      - message
      - data
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
  responses:
    InvalidParam:
      description: One or more query parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
              params:
                per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
