openapi: 3.2.0
info:
  title: MindMaze Therapeutics Content O Embed API
  version: wp/v2
  summary: The public, read-only WordPress REST API behind mindmazetherapeutics.com.
  description: 'MindMaze Therapeutics publishes no developer portal and no product API for its neurotherapeutics platform, but its corporate site at mindmazetherapeutics.com runs on WordPress and serves the standard WordPress REST API anonymously at https://mindmazetherapeutics.com/wp-json/. That surface is a real, machine-readable, unauthenticated read API over MindMaze content: 450 posts, 49 pages, 1,070 media items, 11 categories and cross-content search. Because MindMaze Therapeutics Holding SA is listed on the SIX Swiss Exchange (MMTX), the post corpus is dominated by regulatory disclosure: 309 posts in the "EQS" category, 162 in "Ad hoc news" (EQS ad-hoc announcements), 147 in "Other IR news", 27 in "Press releases", 92 "In the media", 17 "Events", 7 "Testimonials" and 2 "Products". This document is DERIVED from the live route discovery document at https://mindmazetherapeutics.com/wp-json/ (saved verbatim as mindmaze-content-wp-routes-original.json); every path and method here comes from that document, and every operation listed was verified to return HTTP 200 anonymously on 2026-08-01. Write methods (POST/PUT/PATCH/DELETE) and the administrative namespaces (settings, themes, plugins, menus, block-types, widgets, users/me, jetpack, yoast, redirection, ai1wm) are deliberately excluded: they exist on the host but return 401 rest_forbidden and are not a public API. This is a corporate content and investor-relations API - it is NOT a clinical, device or patient-data API. MindMaze products (Companion, MindMotion GO, MindPod, Izar, Physilog, TOAP Run) are regulated medical devices; no public API, SDK or contract for them exists.'
  contact:
    name: MindMaze Therapeutics
    url: https://mindmazetherapeutics.com/about/contact/
  termsOfService: https://mindmazetherapeutics.com/terms-and-conditions/
  x-provenance:
    method: derived
    source: https://mindmazetherapeutics.com/wp-json/
    derived: '2026-08-01'
    note: Derived by API Evangelist from the live WordPress route discovery document; not published by MindMaze Therapeutics.
servers:
- url: https://mindmazetherapeutics.com/wp-json
  description: Production
security:
- {}
tags:
- name: oEmbed
  description: oEmbed representation of a mindmazetherapeutics.com URL.
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOEmbed
      summary: Get an oEmbed response
      description: Returns the oEmbed representation of a mindmazetherapeutics.com URL.
      tags:
      - oEmbed
      security:
      - {}
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        description: The oEmbed format to use.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxwidth
        in: query
        description: The maximum width of the embed frame in pixels.
        schema:
          type: integer
          default: 600
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages, on rest_invalid_param.
            details:
              type: object
              description: Per-parameter structured error detail, on rest_invalid_param.
      required:
      - code
      - message
      - data
  responses:
    NotFound:
      description: The requested object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
